.PieSup img {
    /*position: absolute;*/
width: 100%;
height: 85px;

/*background: url(../img/bono_midis.png);*/
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
h1 {
    text-align: center;
    color: blue;
}

.cajaizq {
position: inherit;
width: 50%;
height: 40rem;
left: 74px;
top: 176px;

background: #C4C4C4;
}
.cajaizq img {
 position: absolute;
width: 120px;
height: 114px;
border-radius: 100px;
}


.cajader {
position: absolute;
width: 47%;
height: 40rem;
left: 44.5625rem;
top: 11rem;
background: #C4C4C4;
}
.cajader .enqueafp img{
position: absolute;
width: 5.625em;
height: 5.625em;
left: 0.4375rem;
top: 1.125rem;
border-radius: 100px;
}
.cajader .afps  img{
position: absolute;
width: 5.625em;
height: 5.625em;
top: 1.25em;
border-radius: 12.5em;
}
/*posicion */
.cajader .afps .afpfondos .inscripsionafp img {
    left: 12em;
}
.cajader .afps .afpfondos .fprima img{
    left: 33em;
}
.cajader .afps .afpfondos .fprofuturo img{
    left: 33em;
    top: 7.6em;
}
.cajader .afps .afpfondos .fintegra img{
     left: 33em;
    top: 14em
}
.cajader .afps .afpfondos .fhabitat img{
    left: 33em;
    top: 20.3em;
}
.cajader .afps .afpseguimientos .sprima img{
    left: 27em;
}
.cajader .afps .afpseguimientos .sprofuturo img{
    left: 27em;
    top: 7.6em;
}
.cajader .afps .afpseguimientos .sintegra img{
    left: 27em;
    top: 14em;
}
.cajader .afps .afpseguimientos .shabitat img{
    left: 27em;
    top: 20.3em;
}
.cajaizq .inscripsionbono img {
    left:2em;
    top: 12em
}
.cajaizq .consultas img {
    left: 15em;
    top: 12em
}
.cajaizq .todobonos img {
    left: 28em;
    top: 12em;
}
.cajaizq .subventanaizq {
position: absolute;
width: 48%;
height: 60%;
left: 1.25rem;
top: 49%;

background: #FFFFFF;
}

.cajader .subventanader {
position: absolute;
width: 64.5%;
height: 65%;
left: 1.25rem;
top: 7.1875rem;

background: #FFFFFF;
}
.cronogramas {
    display: flex;
}
.cajader .clavevirtualonp img {
position: absolute;
width: 5.625em;
height: 5.625em;
left: 0.4375rem;
top: 1.125rem;
border-radius: 100px;
left: 33em;
top: 27em;
}

.bancos img{
position: absolute;
width: 5.625em;
height: 5.625em;
border-radius: 100px;
}

.fichareniec img{
position: absolute;
width: 5.625em;
height: 5.625em;
border-radius: 100px;
left: 10rem;
}