*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.main img {
    max-width: 80%;
}
.logotipo {
    width: 125px;
    height: 60px;
}
.contenedor{
    width: 100%;
    margin: auto;
}

/*Estilos de header*/
.header{
    height: 60px;
    background: #333;
}
.header .contenedor{
    display: flex;
    justify-content: space-between;
}
.logotipo, .icon-menu{
    margin: 5px;
    color: #fff;
}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #999;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    cursor: pointer;
}
.nav{
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    z-index: 100;
    transition: all 0.5s;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
}
.menu__link{
    display: block;
    padding: 15px;
    background: rgba(51,51,51,0.9);
    color: #fff;
    height: 60px;
    border-bottom: 1px solid #fff;
}
.menu__link:hover{
    background: #fff;
    color: #000;
}
.muestrate{
    left: 0;
}
/*--------------------Estilos del banner------------------*/
.banner img  {
    width: 100%;
}
.banner{
    position: relative;
}
.banner .contenedor {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
    color: orange;
}
.banner .contenedor p{
    font-size: 50px;
}
/*----------estilos de info------------*/

.info{
    background: #333;
    color: #fff;
    text-align: center;
    margin-top: -50px;
}
.info__img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 7px solid #444;
    position: relative;
}
.info__txt{
    text-align: justify;
    padding: 15px;
}

/*-----------------estilos afps-------------------*/

.afps {
    background: #9a6339;
    color: #fff;
    text-align: center;
    padding: 15px;
}
.afps h3{
    font-size: 30px;
}
.afps .afps__titulo{
    font-size: 40px;
}
.afp .afps__txt{
    text-align: justify;
    padding: 15px;
}
.afps__img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 7px solid #fff;
}
/*-------------estilos mapa--------------*/
.mapa{
    background: #f0ede5;
    padding: 15px;
    text-align: center;
}
.mapa h3{
    font-size: 30px;
}
.mapa p{
    text-align: justify;
}
/*------------------Estilos del footer------------------*/
.footer{
    background: #000;
    color: #fff;
    padding: 0;
    text-align: center;
}
.footer img{
    width: 70px;
    margin-right: 10px;
    border: 5px solid #fff;
    border-radius: 50%;
}

/*------------estilos responsive------------------*/

@media(min-width: 480px){
    .contenedor .banner__titulo{
        font-size: 44px;
    }
    .contenedor .banner__txt{
        font-size: 25px;
    }
    .main img{
        max-width: 90%;
    }
    .info__columna{
        width: 32%;
    }
    .info .contenedor{
        display: flex;
        justify-content: space-between;
    }
    .afps .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .afps__columna{
        width: 40%;
    }
    .afps h3{
        font-size: 32px;
    }
}
@media(min-width:768px){
    .platos__columna{
        width: 24%;
    }
}

@media(min-width:1024px){
    .nav{
        position: static;
        width: auto;
    }
    .menu{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    .menu__link{
        border: none;
    }
    .contenedor .banner__titulo{
        font-size: 50px;
    }
    .contenedor .banner__txt{
        font-size: 36px;
    }
    .contenedor{
        width: 1000px;
    }
}
@media(min-width:1280px){
    .contenedor{
        width: 1200px;
    }
    .contenedor .banner__titulo{
        font-size: 90px;
    }
    .contenedor .banner__txt{
        font-size: 46px;
    }
}